In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

In [ ]:
# If you have one category feature ==> one sample proportion test
# if you have two category test ==> chi square test
# one continuous variable ==> T test
# two numerical/continuous variable ==> correlation test
# numerical and categorical ==> Anova test

In [ ]:
# T-test has wo types ( 1 saple T test and 2 sample T test)

In [1]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np
dataset=pd.read_excel("/kaggle/input/tips-data/Tips.xlsx")

In [2]:
dataset.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# T test with one sample

In [ ]:
ages=[10,20,35,50,28,40,55,18,16,55,30,25,43,18,30,28,14,24,16,17,32,35,26,27,65,18,43,23,21,20,19,70]

In [ ]:
ages_mean=np.mean(ages)
print(ages_mean)

In [ ]:
sample_size=10
age_sample=np.random.choice(ages,sample_size)

In [ ]:
from scipy.stats import ttest_1samp

In [ ]:
ttest,p_value=ttest_1samp(age_sample,30)

In [ ]:
print(p_value)

In [ ]:

if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

# Two-sample T-test With Python

The Independent Samples t Test or 2-sample t-test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different. The Independent Samples t Test is a parametric test. This test is also known as: Independent t Test

In [ ]:
np.random.seed(6)
school_ages=stats.poisson.rvs(loc=18,mu=35,size=1500)
classA_height=stats.poisson.rvs(loc=18,mu=30,size=60)

In [ ]:
np.random.seed(12)
ClassB_ages=stats.poisson.rvs(loc=18,mu=33,size=60)
ClassB_ages.mean()

In [ ]:
_,p_value=stats.ttest_ind(a=classA_height,b=ClassB_ages,equal_var=False)

In [ ]:

if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

# Paired T-test With Python
When you want to check how different samples from the same group are, you can go for a paired T-test

In [ ]:
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)

In [ ]:
print(weight1)
print(weight2)

In [ ]:
weight_df=pd.DataFrame({"weight_10":np.array(weight1),
                         "weight_20":np.array(weight2),
                       "weight_change":np.array(weight2)-np.array(weight1)})

In [ ]:
weight_df

In [ ]:
_,p_value=stats.ttest_rel(a=weight1,b=weight2)

In [ ]:
print(p_value)

In [ ]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

# Chi-Square Test-
The test is applied when you have two categorical variables from a single population. It is used to determine whether there is a significant association between the two variables.

In [3]:
dataset_table=pd.crosstab(dataset['sex'],dataset['smoker'])
print(dataset_table)

smoker  No  Yes
sex
Female  54   33
Male    97   60

In [5]:
#Observed Values
Observed_Values = dataset_table.values 
print("Observed Values :-\n",Observed_Values)

Observed Values :-
 [[54 33]
 [97 60]]

In [6]:
val=stats.chi2_contingency(dataset_table)

In [7]:
val

(0.008763290531773594,
 0.925417020494423,
 1,
 array([[53.84016393, 33.15983607],
        [97.15983607, 59.84016393]]))

In [8]:

Expected_Values=val[3]

In [9]:
no_of_rows=len(dataset_table.iloc[0:2,0])
no_of_columns=len(dataset_table.iloc[0,0:2])
ddof=(no_of_rows-1)*(no_of_columns-1)
print("Degree of Freedom:-",ddof)
alpha = 0.05

Degree of Freedom:- 1

In [10]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2./e for o,e in zip(Observed_Values,Expected_Values)])
chi_square_statistic=chi_square[0]+chi_square[1]

In [11]:
print("chi-square statistic:-",chi_square_statistic)

chi-square statistic:- 0.001934818536627623

In [12]:
critical_value=chi2.ppf(q=1-alpha,df=ddof)
print('critical_value:',critical_value)

critical_value: 3.841458820694124

In [13]:
#p-value
p_value=1-chi2.cdf(x=chi_square_statistic,df=ddof)
print('p-value:',p_value)
print('Significance level: ',alpha)
print('Degree of Freedom: ',ddof)
print('p-value:',p_value)

p-value: 0.964915107315732
Significance level:  0.05
Degree of Freedom:  1
p-value: 0.964915107315732

In [14]:
if chi_square_statistic>=critical_value:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")
    
if p_value<=alpha:
    print("Reject H0,There is a relationship between 2 categorical variables")
else:
    print("Retain H0,There is no relationship between 2 categorical variables")

Retain H0,There is no relationship between 2 categorical variables
Retain H0,There is no relationship between 2 categorical variables

## Anova Test(F-Test)
The t-test works well when dealing with two groups, but sometimes we want to compare more than two groups at the same time.

For example, if we wanted to test whether petal_width age differs based on some categorical variable like species, we have to compare the means of each level or group the variable

## One Way F-test(Anova) :-
It tell whether two or more groups are similar or not based on their mean similarity and f-score.

Example : there are 3 different category of iris flowers and their petal width and need to check whether all 3 group are similar or not

In [16]:
df1=sns.load_dataset('iris')

In [17]:
df1.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
df_anova = df1[['petal_width','species']]

In [19]:
grps = pd.unique(df_anova.species.values)

In [20]:
grps

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [21]:
d_data = {grp:df_anova['petal_width'][df_anova.species == grp] for grp in grps}

In [22]:
d_data

{'setosa': 0     0.2
 1     0.2
 2     0.2
 3     0.2
 4     0.2
 5     0.4
 6     0.3
 7     0.2
 8     0.2
 9     0.1
 10    0.2
 11    0.2
 12    0.1
 13    0.1
 14    0.2
 15    0.4
 16    0.4
 17    0.3
 18    0.3
 19    0.3
 20    0.2
 21    0.4
 22    0.2
 23    0.5
 24    0.2
 25    0.2
 26    0.4
 27    0.2
 28    0.2
 29    0.2
 30    0.2
 31    0.4
 32    0.1
 33    0.2
 34    0.2
 35    0.2
 36    0.2
 37    0.1
 38    0.2
 39    0.2
 40    0.3
 41    0.3
 42    0.2
 43    0.6
 44    0.4
 45    0.3
 46    0.2
 47    0.2
 48    0.2
 49    0.2
 Name: petal_width, dtype: float64,
 'versicolor': 50    1.4
 51    1.5
 52    1.5
 53    1.3
 54    1.5
 55    1.3
 56    1.6
 57    1.0
 58    1.3
 59    1.4
 60    1.0
 61    1.5
 62    1.0
 63    1.4
 64    1.3
 65    1.4
 66    1.5
 67    1.0
 68    1.5
 69    1.1
 70    1.8
 71    1.3
 72    1.5
 73    1.2
 74    1.3
 75    1.4
 76    1.4
 77    1.7
 78    1.5
 79    1.0
 80    1.1
 81    1.0
 82    1.2
 83    1.6
 84    1.5
 85    1.6
 86    1.5
 87    1.3
 88    1.3
 89    1.3
 90    1.2
 91    1.4
 92    1.2
 93    1.0
 94    1.3
 95    1.2
 96    1.3
 97    1.3
 98    1.1
 99    1.3
 Name: petal_width, dtype: float64,
 'virginica': 100    2.5
 101    1.9
 102    2.1
 103    1.8
 104    2.2
 105    2.1
 106    1.7
 107    1.8
 108    1.8
 109    2.5
 110    2.0
 111    1.9
 112    2.1
 113    2.0
 114    2.4
 115    2.3
 116    1.8
 117    2.2
 118    2.3
 119    1.5
 120    2.3
 121    2.0
 122    2.0
 123    1.8
 124    2.1
 125    1.8
 126    1.8
 127    1.8
 128    2.1
 129    1.6
 130    1.9
 131    2.0
 132    2.2
 133    1.5
 134    1.4
 135    2.3
 136    2.4
 137    1.8
 138    1.8
 139    2.1
 140    2.4
 141    2.3
 142    1.9
 143    2.3
 144    2.5
 145    2.3
 146    1.9
 147    2.0
 148    2.3
 149    1.8
 Name: petal_width, dtype: float64}

In [23]:
F, p = stats.f_oneway(d_data['setosa'], d_data['versicolor'], d_data['virginica'])

In [24]:
print(p)

4.169445839443116e-85

In [ ]:
if p<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")